body {
    font-family: 'Quicksand', sans-serif;
    background-color: #edc;
    color: #000;
    width: 100%; max-width: 480px;
    margin: 0 auto 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    color: #8b612f;
    text-decoration: none;
    border-bottom: 2px #8b612f dotted;
}
canvas {
    width: 100%;
    background-color: #000;
}
iframe{
    border:none;
    height:480px;
}

#madewith, #hacklink{
    display:inline;
}
#bottom{
    text-align: center;
}